*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----------------------------------navbar------------------------------ */

.navbar{
    display: flex;
    width: 85%;
    margin-top: 20px;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h3 span{
    color: red;
}

.navbar a i{
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}


.navbar i{
    color: #ff523b;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.menu-icon{
    width: 28px;
    display: none;
}
/* ----------------------------------/navbar------------------------------ */


/* --------------------------sidebar---------------------------- */

.sidebar-content{
    position: absolute;
    top: 40%;
    left: 40%;
}

.sidebar-content h2{
    text-align: center;
    font-size: 40px;
}

.sidebar-open{
    position: absolute;
    left: 0;
}

.sidebar-open span{
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 30px;
    padding: 6px 10px;
    color: white;
    background: #333;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-sidebar{
    width: 200px;
    position: absolute;
    left: -260px;
    top: 0;
    height: 100%;
    background: #222;
    transition: 0.5s;
}

.sidebar-sidebar .sidebar-close{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 7px;
    color: white;
    background: #444;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-sidebar .sidebar-title{
     padding-left: 60px;
     font-size: 15px;
     line-height: 60px;
     color: white;
     border-bottom: none;
}

.sidebar-sidebar .sidebar-links li{
    list-style: none;
    display: block;
    width: 100%;
    line-height: 60px;
    border-left: 5px solid transparent;
    border-bottom: 2px solid grey;
    cursor: pointer;
}

.sidebar-sidebar .sidebar-links li:hover{
    background: #333;
    border-left: 5px solid cornflowerblue;
}

.sidebar-sidebar .sidebar-links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    transition: 0.5s;
}

.sidebar-sidebar .sidebar-links li:hover a{
    color: cornflowerblue;
    letter-spacing: 1.2px;
}

.sidebar-sidebar .sidebar-links li a i{
    margin-right: 5px;
}

.sidebar-sidebar .sidebar-social{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.sidebar-sidebar .sidebar-social i{
    width: 15%;
    font-size: 15px;
    color: white;
    background: #444;
    padding: 5px 6px 5px 5px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.sidebar-sidebar .sidebar-social i:hover{
    background: cornflowerblue;
    transform: translateY(-10px);
}


.row-text{
    text-align: center;
    margin-top: 40px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}


h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating i{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.page-btn{

    margin: 10px;
}
.page-btn span{
    border: 1px solid tomato;
    padding: 2px 6px;
}

/* ----------------footer---------------- */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 60px;
}

.footer-row{
    display: flex;
    justify-content: center;
}

.footer-row .footer-col-1{
    display: flex;
}

.footer-row p{
    font-weight: bold;
    margin-right: 40px;
}

/* ----------------media query for menu--------------- */
@media(max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: none;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        font-size: 20px;
        display: block;
        cursor: pointer;
    }

    .logo-toggle{
        position: relative;
    }

    .logo{
        position: absolute;
        left: 65%;
    }
}


@media(min-width:800px){
    .sidebar-sidebar{
    display: none;
}
}

/* --------------media query for less than 600 screen size--------------- */
@media(max-width:600px){
    .row{
    text-align: center;
}

.col-2, .col-3, .col-4{
    flex-basis: 100%;
}

.footer-col-1{
    flex-direction: column;
}

.footer-row p{
    margin-right: 0px;
}

}



